EX_4/EX_2_Shipment/courier_shipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="spedizione">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="localita" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="luogo" type="xs:string"/>
              <xs:element name="data-ora" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
